@import url(https://fonts.googleapis.com/css?family=Itim);
@import url(https://fonts.googleapis.com/css?family=Bungee);

h1,h2,h3,h4 {
  font-family: 'Bungee', cursive;
  font-weight: 200;
  text-shadow: 1px 1px 2px #111;
}
h3 {
  text-shadow: none;
}
h1.task-header {
  text-decoration:none;
  color:#1ca8c3;
  font-size: 28px;
}
h1.task-header.text-muted {
  color: #595959;
  text-shadow: none;
}
body{
  background: #343434; /* Standard syntax */
  font-family: 'Itim', cursive;
}
ul {
    padding: 0;
    list-style-type: none;
}
li {
  font-size: 20px;
  color: #fff;
  list-style: none;
  padding: 5px;
}

nav {
  font-size: 1.3em;
  font-family: 'Bungee', cursive;
  border-color: #E7E7E7;
  background-color: #292929 !important;
}

.navbar-header a {
  color: #535353 !important;
  font-size: 2em;
}

nav a {
  color: #ffb108;
}

/**************************
  DEFAULT BOOTSTRAP STYLES
**************************/

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;
}

.btn-lg {
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-xl {
  line-height: 1.33;
  border-radius: 6px;
}

.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}

/***********************
  ROUND BUTTONS
************************/
.round {
  border-radius: 24px;
}

/***********************
  CUSTON BTN VALUES
************************/

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

.hidden-radio {
    display : none;
}

/* Task Styles */
.task.selected {
  background-color: #4d4d4d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-block {
  margin-top:50px;
  margin-bottom: 20px;
}

.priority-select {
  visibility: hidden;
}

[type="radio"] {
  width:20px;
  height:20px;
  display: inline-block;
  margin: 0 auto;
}
label {
    display: inline-block;
}

.task {
  border-bottom: solid;
  border-color: #606060;
}

.date-field {
  display: inline;
}

.task-form-btn {
  margin: 15px;
}

.priority-label {
  font-family: 'Itim', cursive !important;
  background:rgba(0,0,0,0);
  border:none;
  color:#0099cc;
  font-size: 18px;
}

.datepicker {
  font-family: 'Itim', cursive !important;
  border: none;
  color:#0099cc;
  font-size: 18px;
  width: 80%;
}

.form-control-taskname {
  font-size: 18px;
}

.bottomaligned {
  position:absolute;
  bottom:0;
  margin-bottom:5%;
}

input[type="checkbox"] {
  -webkit-appearance: radio; /* Chrome, Safari, Opera */
  -moz-appearance: radio;    /* Firefox */
  width:20px;
  height:20px;
  margin-right: 10px;
  margin-top: 5px;
}

.someday-task {
  color: #fff;
}

.archived-task {
  color: #8b8b8b;
}

.important-urgent {
  color: #ff5b5b
}

.important-task {
  color: #d3ff5b;
}

.urgent-task {
  color: #ffbf5b;
}

.task-date {
  font-size: 12px;
  float: right;
  margin-top: 10px;
}

.task-chunk-form {
  margin:10px;
}

.col-right{
    float: right;
}

/* Strikethrough */

.strikethrough {
    display: inline-block;
    position: relative;
}

.strikethrough:after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    margin-top: -0.7em;
    background: white;
    transform-origin: center left;
    animation: strikethrough 1s 0.5s cubic-bezier(.55, 0, .1, 1) 1;
    transition: transform 0.5s cubic-bezier(.55, 0, .1, 1);
}

/* Little hover effect */

.strikethrough:hover:after {
    transform: scaleX(0);
    transform-origin: center right;
}

/* Keyframes for initial animation */

@keyframes strikethrough {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

/* chunkingModal */
.chunking-modal-button {
  margin-top: 0;
}

/* Login Style */

#loginStyle{
  color:white;
}

/* Register Style */

#registerStyle{
  color:black;
}



/* Some custome styling */

#welcome {
  font-size: 16px;
  pointer-events: none;
}

#logout {
  cursor: pointer;
  font-size: 13px;
}
