@import url(https://fonts.googleapis.com/css?family=Itim);
@import url(https://fonts.googleapis.com/css?family=Bungee);

h1,h2,h3,h4 {
  font-family: 'Bungee', cursive;
  font-weight: 400;
}
h1.task-header { 
  text-decoration:none; color:#1ca8c3; 
}
body{
  background: #343434; /* Standard syntax */
  font-family: 'Itim', cursive;
}

li {
  font-size: 2em;
  color: #fff;
  list-style: none;
}

nav {
  font-size: 0.7em;
  font-family: 'Bungee', cursive;
  border-color: #E7E7E7;
  background-color: #292929 !important;
}

.navbar-header a {
  color: #535353 !important;
  font-size: 2.5em;
}

nav a {
  color: #ffb108;
}

/**************************
  DEFAULT BOOTSTRAP STYLES
**************************/

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;
}
  
.btn-lg {
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}

/***********************
  ROUND BUTTONS
************************/
.round {
  border-radius: 24px;
}

/***********************
  CUSTON BTN VALUES
************************/

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

.hidden-radio {
    display : none;
}

.square-cell {
  margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.priority-select {
  visibility: hidden;
}

[type="radio"] {
  width:20px;
  height:20px;
  display: inline-block;
  margin: 0 auto;
}
label {
    display: inline-block;
}

.task-item {
  border-bottom: solid;
  border-color: #606060;
}

.date-field {
  display: inline;
  margin-left:10%;
}

.priority-label {
  font-family: 'Itim', cursive !important;
  background:rgba(0,0,0,0);
  border:none;
  color:#0099cc;
  font-size: 24px;
}

.datepicker {
  font-family: 'Itim', cursive !important;
  border: none;
  color:#0099cc;
  font-size: 24px;
}

.form-control-taskname {
  width: 75%;
  height: 50px;
  font-size: 24px;
}

.task-submit {
  width:77%;
  padding-bottom: 12%;
}

.task-button {
  float:right;
  margin:2%;
}

.bottomaligned {
  position:absolute; 
  bottom:0;  
  margin-bottom:20%;
}

input[type="checkbox"] {
    -webkit-appearance: radio; /* Chrome, Safari, Opera */
    -moz-appearance: radio;    /* Firefox */
    width:20px;
    height:20px;
}