<template name="chunkingModal">
  <button class="btn btn-secondary btn-default btn-lg btn-block btn-xl chunking-modal-button" data-toggle="modal" data-target=".chunking-modal">
    Break down this task
  </button>

  <div class="modal fade bd-example-modal-lg chunking-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">

      <div class="modal-content">
        <div class="container-fluid">
          <h2>Break a task into smaller chunks</h2>

          <h5>{{taskName}}</h5>

          {{> chunking}}
        </div>
      </div>

    </div>
  </div>
</template>

<template name="chunking">
  <form class="chunking-form" id = "chunking-form">
    <div class="row">
      <div class="col-xs-12">
        <div class = "task-chunk" id = "chunks">
          {{> chunkForm}}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <input type="submit" name="save" value="Save" class="btn btn-primary pull-right"/>
        <button type="button" class="task-form-btn btn btn-default btn-outline-primary add-chunk pull-right">Add Chunk</button>
      </div>
    </div>
  </form>
</template>

<template name="chunkForm">
  <input type="text" class="task-form-btn task-chunk-form form-control" name="name" placeholder="What's the first step to completing this task?" />
</template>
