<template name="newTask">
  <h2>New Task</h2>
    <form class="new-task">
      <div class="form-group">
      <input type="text" name="name" placeholder="Task Description" />
      </div>

        {{> datepicker}}

        <button name="setPriority" class="glyphicon glyphicon-th-large setPriority" type="button" data-container="body" data-toggle="popover" data-placement="bottom">
          Priority
        </button>
        <!-- FIXME: data-trigger="focus" makes the popover not appear, however, it's needed to make the popover disappear when you click away... -->

        <span>{{printPriority}}</span>

        <div id="popover-content" class="hide">
          {{> choosePriority}}
        </div>

        <br/>
        <input type="submit" name="save-and-add-more" value="Save and Add More" class="btn btn-secondary save-and-add-more"/>
        <input type="submit" name="save" value="Save" class="btn btn-primary save"/>

    </form>
</template>

<template name="choosePriority">
  {{taskCount}}

  <table style="width: 100%;">
  <tbody>
  <tr>
  <td class="block" height="200" bgcolor="#f2dede">
      <a href="#" class="btn-squarecell" role="button">
        <strong>Part A</strong><br>
        <span>Important and Urgent</span>
      </a>
  </td>
  <td class="last" height="200" bgcolor="#dff0d8">
      <a href="#" class="btn-squarecell" role="button">
        <strong>Part B</strong><br>
        <span>Important</span>
      </a>
  </td>
  </tr>
  <tr>
  <td class="block" height="200" bgcolor="#fcf8e3">
      <a href="#" class="btn-squarecell" role="button">
        <strong>Part C</strong><br>
        <span>Important and Urgent</span>
      </a>
  </td>
  <td class="last" height="200" bgcolor="#e1e1e1">
      <a href="#" class="btn-squarecell" role="button">
        <strong>Part D</strong><br>
        <span>Important and Urgent</span>
      </a>
  </td>
  </tr>
  </tbody>
  </table>



</template>

<template name="datepicker">
  <!-- <form class="form-inline mod-field item-due"> -->
    <div class="mod-field">
      <span>Due date: </span><input type="text" name="date" class="datepicker" id="datepicker" />
    </div>
  <!-- </form> -->
</template>
