<template name="newTask">
  <h2>New Task</h2>
    <form class="new-task">
      <div class="form-group">
      <input type="text" name="name" placeholder="Task Description" />
      </div>

        {{> datepicker}}

        <a href="#" id="select-priority" class="glyphicon glyphicon-th-large setPriority">{{printPriority}}</a>
        {{> choosePriority}}
        <br/>
        <input type="submit" name="save-and-add-more" value="Save and Add More" class="btn btn-secondary save-and-add-more"/>
        <input type="submit" name="save" value="Save" class="btn btn-primary save"/>

    </form>
</template>

<template name="choosePriority">
  <br/>
  <div class = "priority-select">
  <label><input type = "radio" name = "priority" class = "prioritySelect" value = "1">Important-Urgent</label>
  <input type = "radio" name = "priority" class = "prioritySelect" value = "2">Urgent
  <input type = "radio" name = "priority" class = "prioritySelect" value = "3">Important
  <input type = "radio" name = "priority" class = "prioritySelect" value = "4">Someday
  </div>
</template>

<template name="datepicker">
  <!-- <form class="form-inline mod-field item-due"> -->
    <div class="mod-field">
      <span>Due date: </span><input type="text" name="date" class="datepicker" id="datepicker" />
    </div>
  <!-- </form> -->
</template>
