<template name="newTaskModal">
  <button class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target=".bd-example-modal-lg" style="margin-top: 2cm;">
    Add Task
  </button>

  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">

      <div class="modal-content">
        <div class = "container">
          {{> newTask}}
        </div>
      </div>

    </div>
  </div>
</template>
