<template name="taskForm">
  <h2 id = "text">{{title}}</h2>
    <form class="task-form">

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <input type="text" class="form-control form-control-taskname task-name" name="name" placeholder="Task Description" value={{name}} {{nameDisabled}} />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <i class="glyphicon glyphicon-sort-by-attributes"></i>
          <a id="select-priority" class="priority-label setPriority">{{printPriority}}</a>
        </div>
        <div class="col-xs-12 col-sm-6">
          {{> datepicker date=date}}
        </div>
      </div>

    {{> choosePriority}}

    <div class="row">
      <div class="col-xs-12">
        {{#if isEditing }}
        <input type="submit" name="save" value="Save" class="btn task-form-btn btn-primary save submit-close pull-right"/>
        {{else}}
        <input type="submit" name="save" value="Save" class="btn task-form-btn btn-primary save submit-close pull-right"/>
        <input type="submit" name="save-and-add-more" value="Save and Add More" class="btn btn-default task-form-btn btn-secondary save-and-add-more pull-right"/>
        {{/if}}
      </div>
    </div>
  </form>
</template>

<template name="choosePriority">
  <br/>
  <div class = "priority-select">
    <input type = "radio" name = "priority" class = "prioritySelect" value = "1">Important-Urgent
    <input type = "radio" name = "priority" class = "prioritySelect" value = "2">Urgent
    <input type = "radio" name = "priority" class = "prioritySelect" value = "3">Important
    <input type = "radio" name = "priority" class = "prioritySelect" value = "4">Someday
  </div>
</template>

<template name="datepicker">
  <!-- <form class="form-inline mod-field item-due"> -->
  <div class = "date-field">
    <div id = "date" class="form-group date-field">
      <i class="glyphicon glyphicon-calendar"></i>
      <input type="text" name="date" class="datepicker" id="datepicker" placeholder="No Due Date" readonly="true" />
    </div>
  </div>
  <!-- </form> -->
</template>
